@import "./common";

.spinner {
  display: flex;
  .block {
    @extend %block;
    background: initial;
    fill: $element-color-primary;
    &--animation {
      animation: keyframe-spinner 3s linear infinite;
    }
  }

  @keyframes keyframe-spinner {
    to {
      transform: rotate(1turn);
    }
  }
}
