@import "./common";

.vibrate-bell {
  display: flex;
  .block {
    @extend %block;
    background: initial;
    fill: rgb(214, 207, 207);
    &--animation {
      animation: keyframe-vibrate-bell 0.1s linear infinite;
    }
  }

  @keyframes keyframe-vibrate-bell {
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(-5deg);
    }
  }
}
