.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  .gallery-item-box {
    flex: 1;
    &--fade-out {
      animation: keyframe-gallery-item-box-fade-out 2s linear forwards;
    }
  }
  .gallery-item-box--hide {
    display: none;
  }

  .gallery-item-box--scale {

  }
  @keyframes keyframe-gallery-item-box-fade-out {
    25% {
      opacity: 0;
    }
    100% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
  @keyframes keyframe-gallery-item-box-fade-in {
    75% {
      opacity: 1;
    }
    100% {
      width: unset;
      height: unset;
    }
  }
}
