.gallery {
  .gallery-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    .gallery-item-box {
      flex: 1;
    }
    &--hide {
      animation: keyframe-gallery-box-hide 0.5s linear forwards;
    }
    animation: keyframe-gallery-box-show 0.5s linear;
    @keyframes keyframe-gallery-box-hide {
      to {
        opacity: 0;
      }
    }
    @keyframes keyframe-gallery-box-show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  .gallery-one {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    &--show {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: keyframe-gallery-one-show 1s linear forwards, keyframe-gallery-one-scale 0.5s forwards;
    }

    @keyframes keyframe-gallery-one-show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes keyframe-gallery-one-scale {
      to {
        transform: scale(2);
      }
    }
  }
}
